/* Desktops and Tablets */
@media screen and (min-width:321px) 

{

    body    {
            position: relative;         /* Why is this set to relative? */
            width: 1440px;
            height: 1024px;

            background: #FFFFFF;
            margin: 0px;
            padding: 0px;
            
            }

            .Vencru {
                    /* Adjusting Online Image Size */
                    height: 48.78px;
                    width: 148px;            
                    
                    /* Adjusting Position */
                    position: absolute;
                    top: 11.43%;
                    left: 12.5%;     

                        /* THE CODE BELOW IS REDUNDANT */
                        /* right: 77.22%;
                        bottom: 84.01%; */
                    }

            main    {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 32px;

                    width: 360px;
                    height: 492px;
                    
                    position: absolute;
                    left: 180px;            /* Could be replaced with 12.5% */
                    top: 243.78px;
                    }

                    header  {

                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 0px;
                            gap: 24px;

                            width: 100%; 
                            height: 132px;

                            /* WHAT IS THIS?*/
                            /* flex: none;
                            order: 0;
                            flex-grow: 0; */

                            }

                            #Main-header    {
                                            width: 100%;
                                            height: 96px;
                                            margin: 0px; /* Necessary Modification due to implicit margine || why was the margin non-zero? */
                                            
                                            
                                            /* Inside auto layout */
                                            /* WHAT IS THIS?*/
                                            /*
                                            flex: none;
                                            order: 0;
                                            align-self: stretch;
                                            flex-grow: 0; */

                                            }

                            #Support-header {
                                            width: 100%;
                                            height: 24px;
                                            margin: 0px; /* Necessary Modification due to implicit margine || why was the margin non-zero? */
                                            
                                            
                                            /* Inside auto layout */
                                            /* WHAT IS THIS?*/
                                            /*
                                            flex: none;
                                            order: 1;
                                            align-self: stretch;
                                            flex-grow: 0; */
                                            }

                    content {

                            display: flex;
                            flex-direction: column;
                            align-items: stretch;
                            padding: 0px;
                            gap: 24px;
                            
                            width: 100%;
                            
                            border-radius: 12px;
                            
                            /* WHAT IS THIS?*/
                            /*
                            flex: none;
                            order: 1;
                            flex-grow: 0; */
                            
                            }

                            form    {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: stretch;
                                    padding: 0px;
                                    gap: 20px;

                                    width: 100%;
                                    }

                                    #email-form     {
                                                    display: flex;
                                                    flex-direction: column;
                                                    align-items: stretch;
                                                    padding: 0px;
                                                    gap: 6px;
                                                    margin: 0px;
                                                    }

                                    #password-form  {
                                                    display: flex;
                                                    flex-direction: column;
                                                    align-items: stretch;
                                                    padding: 0px;
                                                    gap: 6px;
                                                    margin: 0px;
                                                    }

                                    input           {
                                                    padding: 10px 14px;
                                                    gap: 8px;
                                                    border-radius: 8px;
                                                    border: 1px solid #D2D2D2;
                                                    margin: 0px;
                                                    }

                            #Row-RememberMe-ForgotPassword 
                                    {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: stretch;
                                    justify-content: space-between;
                                    padding: 0px;
                                    }

                            #Action {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: stretch;                 
                                    }

                                   .logging         {     
                                    
                                                    box-sizing: border-box;
                                                    
                                                    background: #2362D7; 
                                                    border: 1px solid #2362D7;
                              
                                                    
                                                    margin: 0;  
                                                    height: 48px;
                                                    border-radius: 12px;
                                                    }

                    #Row-Sign-Up    
                            {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 100%;
                            }


            footer  {

                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    padding: 32px;
            
                    position: absolute;
                    width: 720px;
                    height: 96px;
                    left: 0px;
                    bottom: 0px;

                    }

            section {

                    position: absolute;
                    width: 720px;
                    height: 1024px;
                    left: 720px;
                    top: 0px;
                    background: #F4F7FD;

                    }

                    .image_content {}

                    .link_bar {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 0px;
                        gap: 64px;
                    }

                    .chevron {
                        width: 20px;
                        height: 20px;
                    }

                    .dot {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 12px;
                        gap: 16px;
                    }

                    #dot-1 {flex: none; order: 0;}
                    #dot-2 {flex: none; order: 1;}
                    #dot-3 {flex: none; order: 2;}
                    #dot-4 {flex: none; order: 3;}
}